*
{
    margin:0;
    padding:0;
    
}
nav{
    background-color:purple;
    color:orange;
    padding:30px;
    margin-top:10px;
    border-color:black;
    border-width:5px;
    border-style:solid;
}
h1,ul,li{
    display:inline;
}
ul{
    margin-left:60%;

}
li{
    color:yellow;
    cursor:pointer;
    
}
li:hover{
    color:white;
}
.detail{
    background-color:antiquewhite;
}
.detail h2{
    font-size:50px;
    color:black;
    margin-bottom:20px;
}
span{
    color:orange;
}
p{
    margin-top:15px;
    color:green;
    line-height:22px;
    font-size:16px;
}
.detail a{
    background:black;
    padding:10px 18px;
    font-weight:bold;
    color:white;
    display:inline-block;
    margin:25px 0;
    border-radius:5px;


}
.detail img{
    height:20%;
    width:20%;
    margin: 15px;
    padding:5px;
}
.about{
    width:45%;
    height:80%;
    position:absolute;
    bottom:0;
    right:100px;

}
.about p{
    color:black;
    font-size:20px;
    line-height:40px;
    
}
